#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "jq"
     "go"
     "uv"
     "pnpm"
     "node"
     "wget"
     "curl"
     "git"
     "bat"
     "fd"
     "fzf"
     "yazi"
     "just"
     "ripgrep"
     "zoxide"
     "starship"
     "neovim"
     "lazygit"
     "bottom"
     "nushell"
     "zellij"
     "git-delta" -}}
{{ $casks := list
     "wezterm"
     "alacritty"
     "google-chrome"
     "karabiner-elements"
     "visual-studio-code" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
