#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "koekeishiya/formulae" -}}
{{ $brews := list
     "jq"
     "go"
     "pnpm"
     "node"
     "wget"
     "curl"
     "git"
     "bat"
     "fd"
     "fzf"
     "ripgrep"
     "zoxide"
     "starship"
     "neovim"
     "lazygit"
     "nushell"
     "zellij"
     "git-delta"
     "koekeishiya/formulae/skhd"
     "koekeishiya/formulae/yabai" -}}
{{ $casks := list
     "google-chrome"
     "httpie"
     "karabiner-elements"
     "wezterm"
     "alacritty" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
