{{- if .homebrew -}}
{{-   $brew := "" -}}
{{-   if .chezmoi.arch == "arm64" -}}
{{-     $brew = "/opt/homebrew/bin/brew" -}}
{{-   else -}}
{{-     $brew = "/usr/local/bin/brew" -}}
{{-   end -}}
fpath+=("{{ output "$brew" "--prefix" | trim }}/share/zsh/site-functions")
eval "$({{$brew}} shellenv)"
{{- end -}}
